<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Supervisor</th>
    </tr>
    </thead>
    <tbody>
    {{#each team.employees}}
        <tr>
            <td>
                {{firstName}}
            </td>
            <td>
                {{lastName}}
            </td>
            <td>
                {{email}}
            </td>
            <td>
                {{supervisor}}
            </td>
            <td>
                <a href="/team/{{../team._id}}/deleteemployee/{{_id}}" class="ui icon button">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>